* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: blue;
  text-decoration: unset;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1rem 0;
}

.page {
  padding: 1rem;
}

#header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}

#header .title {
  margin: 0;
  color: white;
  padding: 0 1rem;
}

#header .auth-options {
  display: flex;
  height: 100%;
}

#header .auth-options button {
  background-color: #ec1d1d;
  color: white;
  font-size: 1.1rem;
  padding: 0 1rem;
}

#header .auth-options button:hover {
  background-color: #be3a3a;
}

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
