.drama {
  font-size: 1rem;
  height: 30vh;
  width: 30vh;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
}

.drama img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover contain;
}
